<?xml version="1.0"?>
<launch>

  <arg name="conveyor_name" default="a"/>
  <arg name="conveyor_pose" default="-x 0.0 -y 0.0"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_conveyor_belt_$(arg conveyor_name)"
    args="
      -file $(find conveyor_belt_sim)/models/conveyor_belt/model_$(arg conveyor_name).sdf
      -sdf
      -x 1.0
      -y 1.0
      -reference_frame world
      $(arg conveyor_pose)
      -model conveyor_belt_$(arg conveyor_name)" />

</launch>
