<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="gazebo_ros_output" default="screen"/>

  <!-- startup simulated world -->
  <include file="$(find conveyor_belt_sim)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="output" value="$(arg gazebo_ros_output)" />
  </include>

  <include file="$(find conveyor_belt_sim)/launch/conveyor_spawn.launch">
    <arg name="conveyor_name" value="conveyor_belt_a"/>
  </include>

</launch>
